
							<form class="form-horizontal" name="formAltaMateriaPrima" ng-submit="cargar()" novalidate>
								<div class="panel panel-flat">
									<div class="panel-heading">
										<h5 class="panel-title">Alta de Materias Primas</h5>
										<div class="heading-elements">

					                	</div>
									</div>
									
								<div class="panel-body">
												
									
									<div class="form-group" ng-class="{ 'has-error' : formAltaMateriaPrima.descripcion.$invalid && !formAltaMateriaPrima.descripcion.$pristine }">
										<label class="control-label">Descripción: <span class="text-danger">*</span></label>
										<div class="">
											<input type="text" class="form-control" ng-model="materiaprima.descripcion" name="descripcion" required>
											<label id="basic-error" ng-show="formAltaMateriaPrima.descripcion.$invalid && !formAltaMateriaPrima.descripcion.$pristine" class="validation-error-label" for="descripcion">Éste campo es obligatorio</label>
											<label id="basic-error" ng-show="formAltaMateriaPrima.descripcion.$valid && !formAltaMateriaPrima.descripcion.$pristine" class="validation-error-label validation-valid-label" for="basic">Perfecto!  </label>
										</div>
									</div>
										
									<div class="form-group" ng-class="{ 'has-error' : formAltaMateriaPrima.cantidadActual.$invalid && !formAltaMateriaPrima.cantidadActual.$pristine }">
										<label class="control-label">Cantidad actual: </label>
										<div class="">
											<input type="number" class="form-control" min=0 ng-model="materiaprima.cantidadActual" name="cantidadActual" ng-disabled="edit==true" required>
											<label id="basic-error" ng-show="formAltaMateriaPrima.cantidadActual.$invalid && !formAltaMateriaPrima.cantidadActual.$pristine" class="validation-error-label" for="cantidadActual">Éste campo es obligatorio</label>
											<label id="basic-error" ng-show="formAltaMateriaPrima.cantidadActual.$valid && !formAltaMateriaPrima.cantidadActual.$pristine" class="validation-error-label validation-valid-label" for="basic">Perfecto!  </label>
										</div>
									</div>
										
									<div class="form-group" ng-class="{ 'has-error' : formAltaMateriaPrima.puntoReposicion.$invalid && !formAltaMateriaPrima.puntoReposicion.$pristine}">
										<label class="control-label">Punto de Reposición: </label>
										<div class="">
											<input type="number" class="form-control" min=0 ng-model="materiaprima.puntoReposicion" name="puntoReposicion" required>
											<label id="basic-error" ng-show="formAltaMateriaPrima.puntoReposicion.$invalid && !formAltaMateriaPrima.puntoReposicion.$pristine" class="validation-error-label" for="puntoReposicion">Éste campo es obligatorio</label>
												<label id="basic-error" ng-show="formAltaMateriaPrima.puntoReposicion.$valid && !formAltaMateriaPrima.puntoReposicion.$pristine" class="validation-error-label validation-valid-label" for="puntoReposicion">Perfecto!  </label>
										</div>
									</div>
									
										<div class="form-group" ng-class="{ 'has-error' : formAltaMateriaPrima.unidadMedida.$invalid && !formAltaMateriaPrima.unidadMedida.$pristine }">
											<label class="col-lg-3 control-label">Unidad de Medida: <span class="text-danger">*</span></label>
											<div class="col-lg-2">
												<select class="form-control" ng-model="materiaprima.unidadMedida" required>
													<optgroup selected="selected" required>
														<option value="Unidad/es">Unidad/es</option>
														<option value="Kg">Kg</option>
														<option value="Lt">Lt</option>
													</optgroup>
												</select>
												<label id="basic-error" ng-show="formAltaMateriaPrima.unidadMedida.$invalid && !formAltaMateriaPrima.unidadMedida.$pristine" class="validation-error-label" for="unidadMedida">Éste campo es obligatorio</label>
												<label id="basic-error" ng-show="formAltaMateriaPrima.unidadMedida.$valid && !formAltaMateriaPrima.unidadMedida.$pristine" class="validation-error-label validation-valid-label" for="basic">Perfecto!  </label>
											</div>
										</div>

									

										<div class="text-center">
										<button ng-disabled="formAltaMateriaPrima.$invalid" class="btn btn-primary">Confirmar <i class="icon-arrow-right14 position-right"></i></button>
										<button ui-sref="main.materiasprimas"  class="btn bg-slate-400">Cancelar <i class="icon-cross2 position-right"></i></button>
										</div>
									</div>
								</div>
							</div>
								
							</form>
