
	<div class="panel panel-flat" ng-init="init()">
		<div class="panel-heading">
			<h5 class="panel-title">Lista de Mesas</h5>
			<div class="heading-elements">

			</div>
		</div>

		<div class="panel-body">
			<div class="button-right">
				<a ui-sref="main.mesasCargar"><button type="button" class="btn btn-primary">Añadir <i class="icon-plus22"></i></button></a>
			</div>
		</div>

		<table class="table datatable-responsive">
			<thead>
				<tr>
					<th>Sección</th>
					<th>Número</th>
					<th>Capacidad</th>
					<th>Mozo</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="mesa in filteredMesas track by $index" >
					<td class="4">{{mesa.seccion.descripcion}}</td>
					<td class="1">{{mesa.numero}}</td>
					<td class="1">{{mesa.capMaxima}}</td>
					<td class="4">{{mesa.mozo.surname + ', ' + mesa.mozo.name}}</td>
					<td class="2">
						<ul class="icons-list">
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown">
									<i class="icon-menu9"></i>
								</a>

								<ul class="dropdown-menu dropdown-menu-right">
									<li><a ng-click="update(mesa)"><i class="icon-pencil7"></i>Modificar</a></li>
									<li><a ng-click="borrar(mesa._id)"><i class=" icon-eraser2"></i>Eliminar</a></li>
								</ul>
							</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="pagination-container"> 	  	     
				<ul uib-pagination total-items="totalItems" boundary-links="true"  first-text="Primero" last-text="Último" ng-model="currentPage" next-text="Siguiente" previous-text="Anterior" ng-change="pageChanged()"></ul>		
		</div>	  		
	</div>


	



	
