
							<!-- Basic layout-->
							<form class="form-horizontal" name="formAltaMesa" ng-init="init()" ng-submit="cargar()" novalidate>
								<div class="panel panel-flat">
									<div class="panel-heading">
										<h5 class="panel-title">Información de Mesa</h5>
										<div class="heading-elements">

					                	</div>
									</div>
									
									<div class="panel-body">
										<div class="form-group" ng-class="{ 'has-error' : formAltaMesa.seccion.$invalid && !formAltaMesa.seccion.$pristine }">
											<label class="col-lg-3 control-label">Sección:</label>
											<div class="col-lg-2">
												<select class="form-control" ng-model="mesa.seccion.descripcion" required>
													<optgroup label="" selected="selected" required>
														<option ng-repeat="seccion in secciones">{{seccion.descripcion}}</option>
													</optgroup>
												</select>
												<label id="basic-error" ng-show="formAltaMesa.seccion.$invalid && !formAltaMesa.seccion.$pristine" class="validation-error-label" for="seccion">Éste campo es obligatorio</label>
												<label id="basic-error" ng-show="formAltaMesa.seccion.$valid && !formAltaMesa.seccion.$pristine" class="validation-error-label validation-valid-label" for="basic">Perfecto! </label>
											</div>
										</div>
									
										<div class="form-group" ng-class="{ 'has-error' : formAltaMesa.numero.$invalid && !formAltaMesa.numero.$pristine }">
											<label class="col-lg-3 control-label">Número: <span class="text-danger">*</span></label>
											<div class="col-lg-1">
												<input type="number" class="form-control" min=1 ng-model="mesa.numero" name ="numero" required>
												
												<label id="basic-error" ng-show="formAltaMesa.numero.$invalid && !formAltaMesa.numero.$pristine" class="validation-error-label" for="numero">Éste campo es obligatorio</label>
												<label id="basic-error" ng-show="formAltaMesa.numero.$valid && !formAltaMesa.numero.$pristine" class="validation-error-label validation-valid-label" for="basic">Perfecto! </label>
											</div>
										</div>
										
										<div class="form-group" ng-class="{ 'has-error' : formAltaMesa.capMaxima.$invalid && !formAltaMesa.capMaxima.$pristine }">
											<label class="col-lg-3 control-label">Capacidad Máxima: <span class="text-danger">*</span></label>
											<div class="col-lg-1">
												<input type="number" class="form-control" min=1 ng-model="mesa.capMaxima" name="capMaxima" required>
												
												<label id="basic-error" ng-show="formAltaMesa.capMaxima.$invalid && !formAltaMesa.capMaxima.$pristine" class="validation-error-label" for="capMaxima">Éste campo es obligatorio</label>
												<label id="basic-error" ng-show="formAltaMesa.capMaxima.$valid && !formAltaMesa.capMaxima.$pristine" class="validation-error-label validation-valid-label" for="basic">Perfecto! </label>
											</div>
										</div>
										
										<div class="form-group" ng-class="{ 'has-error' : formAltaMesa.mozo.$invalid && !formAltaMesa.mozo.$pristine }">
											<label class="col-lg-3 control-label">Mozo Asignado: <span class="text-danger">*</span></label>
											<div class="col-lg-3">

												{{mesa.mozo}}
												<select class="form-control" ng-options="mozo.surname for mozo in mozos" ng-model="mesa.mozo" required>																																						
												</select>

												<label id="basic-error" ng-show="formAltaMesa.mozo.$invalid && !formAltaMesa.mozo.$pristine" class="validation-error-label" for="mozo">Éste campo es obligatorio</label>
												<label id="basic-error" ng-show="formAltaMesa.mozo.$valid && !formAltaMesa.mozo.$pristine" class="validation-error-label validation-valid-label" for="basic">Perfecto! </label>
											</div>
										</div>


										<div class="text-center">
											<button type="submit" ng-disabled="formAltaMesa.$invalid" class="btn btn-primary">Confirmar <i class="icon-arrow-right14 position-right"></i></button>
											<button ui-sref="main.mesas"  class="btn bg-slate-400">Cancelar <i class="icon-cross2 position-right"></i></button>
										</div>
									</div>
								</div>
							</div>
								
							</form>
							<!-- /basic layout -->

						</div>



					<!-- Footer
					<div class="footer text-muted">
						&copy; 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
					</div>
					 -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

</body>
</html>
