

					<div class="panel panel-flat" ng-init="init()">
						<div class="panel-heading">
							<h5 class="panel-title">Lista de Productos</h5>
							<div class="heading-elements">

		                	</div>
						</div>

						<div class="panel-body">
							<div class="button-right">
								<a ui-sref="main.productosCargar"><button type="button" class="btn btn-primary">Añadir <i class="icon-plus22"></i></button></a>
							</div>
						</div>
							<div></div>
						<div class="panel-body">
							<div class="button-left" "col-lg=3">
								<label class="control-label">Seleccionar rubro: </label>
								<select class="form-control listbox" ng-options="rubro.descripcion for rubro in rubros" ng-model="rubro" ng-change="mostrarSubrubros(rubro._id)">
									<option ng-repeat="rubro in rubros" >{{rubro.descripcion}}</option>
								</select>
							<div></div>
							<div class="button-left" "col-lg=3">
								<label class="control-label">Seleccionar subrubro: </label>
								<select class="form-control listbox" ng-options="subrubro.descripcion for subrubro in subrubros" ng-model="subrubro" ng-change="mostrarProductos(subrubro._id)">
									<option ng-repeat="rubro in rubros" >{{rubro.descripcion}}</option>
								</select>
						</div>
						</div>
						</div>

						<table class="table datatable-responsive">
							<thead>
								<tr>
									<th>Código</th>
									<th>Nombre</th>
									<th>Mostrar en carta</th>
									<th>Mostrar en cocina</th>
									<th>Subrubro</th>
									<th>Precio</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="producto in filteredProductos track by $index" >
									<td class="col-md-1">{{producto.codigo}}</td>
									<td class="col-md-3">{{producto.descripcion}}</td>
									<td class="col-md-2">{{producto.carta | carta}}</td>
									<td class="col-md-2">{{producto.cocina | carta}}</td>
									<td class="col-md-2">{{subrubro.descripcion}}</td>
									<td class="col-md-1">{{producto.precio}}</td>
									<td class="col-md-1">
										<ul class="icons-list">
											<li class="dropdown">
												<a class="dropdown-toggle" data-toggle="dropdown">
													<i class="icon-menu9"></i>
												</a>

												<ul class="dropdown-menu dropdown-menu-right">
													<li><a ng-click="update(rubro._id, subrubro._id, producto._id)"><i class="icon-pencil7"></i>Modificar</a></li>
													<li><a ng-click="borrar(producto)"><i class=" icon-eraser2"></i>Eliminar</a></li>
												</ul>
											</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
						
									<div class="pagination-container"> 	  	     
				<ul uib-pagination total-items="totalItems" boundary-links="true"  first-text="Primero" last-text="Último" ng-model="currentPage" next-text="Siguiente" previous-text="Anterior" ng-change="pageChanged()"></ul>		
			</div>
					</div>
