			<ul class="nav nav-tabs nav-tabs-solid">
											<li class="active"><a href="#quickSearch-tab1" data-toggle="tab" class="legitRipple">Lista</a></li>
											<li><a href="#advancedSearch-tab2" data-toggle="tab" class="legitRipple">Grilla</a></li>
											
										</ul>

										<div class="tab-content">
											<div class="tab-pane active" id="quickSearch-tab1">
												</div>
											</div>