
<div class="panel panel-flat" ng-init="init()">
	<div class="panel-heading">
		<h5 class="panel-title">Lista de usuarios</h5>
		<div class="heading-elements">

		</div>
	</div>

	<div class="panel-body">
		<div class="button-right">
			<a ui-sref="main.usuariosCargar"><button type="button" class="btn btn-primary">Añadir <i class="icon-plus22"></i></button></a>
		</div>
	</div>

	<table class="table datatable-responsive">
		<thead>
			<tr>
				<th>#</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Sexo</th>
				<th>Tipo de Usuario</th>
				<th>E-Mail</th>
				<th>DNI</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="usuario in filteredUsuarios track by $index">
				<td class="col-md-1">{{$index+1}}</td>
				<td class="col-md-1">{{usuario.name}}</td>
				<td class="col-md-1">{{usuario.surname}}</td>
				<td class="col-md-2">{{usuario.gender}}</td>
				<td class="col-md-2">{{usuario.userType}}</td>
				<td class="col-md-2">{{usuario.email}}</td>
				<td class="col-md-2">{{usuario.dni}}</td>
				<td class="col-md-1">
					<ul class="icons-list">
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon-menu9"></i>
							</a>

							<ul class="dropdown-menu dropdown-menu-right">
								<li><a ng-click="update(usuario)"><i class="icon-pencil7"></i>Modificar</a></li>
								<li><a ng-click="borrar(usuario._id)"><i class="icon-user-cancel"></i>Eliminar</a></li>
							</ul>
						</li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
	  <div class="pagination-container"> 	  	     
			    <ul uib-pagination total-items="totalItems" boundary-links="true"  first-text="Primero" last-text="Último" ng-model="currentPage" next-text="Siguiente" previous-text="Anterior" ng-change="pageChanged()"></ul>		
		</div>	 	
</div>
