							<!-- Basic layout-->
							<form class="form-horizontal" name="formAltaUsuario" ng-submit="cargar()" novalidate>
								<div class="panel panel-flat">
									<div class="panel-heading">
										<h5 class="panel-title">Información del Usuario</h5>
										<div class="heading-elements">

					                	</div>
									</div>
									
									<div class="panel-body">
										<div class="form-group" ng-class="{ 'has-error' : formAltaUsuario.userType.$invalid && !formAltaUsuario.userType.$pristine }">
											<label class="col-lg-3 control-label">Tipo de Usuario: <span class="text-danger">*</span></label>
											<div class="col-lg-2">
												<select class="form-control" ng-model="usuario.userType" required>
													<optgroup selected="selected" required>
													<option value="Administrador">Administrador</option>
														<option value="Adicionista">Adicionista</option>
														<option value="Encargado">Encargado/a de Cocina</option>
														<option value="Mozo" selected>Mozo/a</option>
													</optgroup>
												</select>
											   <label id="basic-error" ng-show="formAltaUsuario.userType.$invalid && !formAltaUsuario.userType.$pristine" class="validation-error-label" for="userType">Éste campo es obligatorio</label>
												<label id="basic-error" ng-show="formAltaUsuario.userType.$valid && !formAltaUsuario.userType.$pristine" class="validation-error-label validation-valid-label" for="basic">Perfecto! </label>
											</div>
										</div>
									
										<div class="form-group" ng-class="{ 'has-error' : formAltaUsuario.nombre.$invalid && !formAltaUsuario.nombre.$pristine }">
											<label class="control-label">Nombre: <span class="text-danger">*</span></label>
											<div class="">
												<input type="text" class="form-control"  ng-model="usuario.name" name ="nombre" required>
												
												<label id="basic-error" ng-show="formAltaUsuario.nombre.$invalid && !formAltaUsuario.nombre.$pristine" class="validation-error-label" for="nombre">Éste campo es obligatorio</label>
												<label id="basic-error" ng-show="formAltaUsuario.nombre.$valid && !formAltaUsuario.nombre.$pristine" class="validation-error-label validation-valid-label" for="basic">Perfecto! </label>
												
											</div>
										</div>

										<div class="form-group" ng-class="{ 'has-error' : formAltaUsuario.apellido.$invalid && !formAltaUsuario.apellido.$pristine }">
											<label class="control-label">Apellido: <span class="text-danger">*</span></label>
											<div class="">
												<input type="text" class="form-control" ng-model="usuario.surname" name ="apellido" required>
												
												<label id="basic-error" ng-show="formAltaUsuario.apellido.$invalid && !formAltaUsuario.apellido.$pristine" class="validation-error-label" for="apellido">Éste campo es obligatorio</label>
												<label id="basic-error" ng-show="formAltaUsuario.apellido.$valid && !formAltaUsuario.apellido.$pristine" class="validation-error-label validation-valid-label" for="basic">Perfecto! </label>
												
											</div>
										</div>
										
										<div class="form-group" ng-class="{ 'has-error' : formAltaUsuario.password.$invalid && !formAltaUsuario.password.$pristine }">
											<label class="control-label">Contraseña: <span class="text-danger">*</span></label>
											<div class="">
												<input type="password" class="form-control" ng-model="usuario.password" name ="password" ng-disabled="edit==true" required>
												
												<label id="basic-error" ng-show="formAltaUsuario.password.$invalid && !formAltaUsuario.password.$pristine" class="validation-error-label" for="password">Éste campo es obligatorio</label>
												<label id="basic-error" ng-show="formAltaUsuario.password.$valid && !formAltaUsuario.password.$pristine" class="validation-error-label validation-valid-label" for="password">Perfecto! </label>
												
											</div>
										</div>
										
										<div class="form-group" ng-class="{ 'has-error' : formAltaUsuario.gender.$invalid && !formAltaUsuario.gender.$pristine }">
											<label class="control-label">Sexo:</label>
											<div class="">
												<label class="radio-inline">
													<input type="radio" name="gender" ng-model="gender" value='m'>
													Masculino
												</label>

												<label class="radio-inline">
													<input type="radio"  name="gender" ng-model="gender" value='f'>
													Femenino
												</label>
												
												<label id="basic-error" ng-show="formAltaUsuario.gender.$invalid && !formAltaUsuario.gender.$pristine" class="validation-error-label" for="email">Éste campo es obligatorio</label>
												<label id="basic-error" ng-show="formAltaUsuario.gender.$valid && !formAltaUsuario.gender.$pristine" class="validation-error-label validation-valid-label" for="email">Perfecto! </label>
											</div>
										</div>
										
										<div class="form-group" ng-class="{ 'has-error' : formAltaUsuario.email.$invalid && !formAltaUsuario.email.$pristine }">
											<label class="control-label">E-Mail: <span class="text-danger">*</span></label>
											<div class="">
												<input type="email" class="form-control" ng-model="usuario.email"  name="email" required>
												
												<label id="basic-error" ng-show="formAltaUsuario.email.$invalid && !formAltaUsuario.email.$pristine" class="validation-error-label" for="email">Ingrese un e-mail válido</label>
												<label id="basic-error" ng-show="formAltaUsuario.email.$valid && !formAltaUsuario.email.$pristine" class="validation-error-label validation-valid-label" for="email">Perfecto! </label>
												
											</div>
										</div>
										
										<div class="form-group" ng-class="{ 'has-error' : formAltaUsuario.dni.$invalid && !formAltaUsuario.dni.$pristine }">
											<label class="control-label">DNI: <span class="text-danger">*</span></label>
											<div class="">
												<input type="number" class="form-control" ng-model="usuario.dni" min="1" max="99999999"" name="dni" required>
												
												<label id="basic-error" ng-show="formAltaUsuario.dni.$invalid && !formAltaUsuario.dni.$pristine" class="validation-error-label" for="dni">Éste campo es obligatorio</label>
												<label id="basic-error" ng-show="formAltaUsuario.dni.$valid && !formAltaUsuario.dni.$pristine" class="validation-error-label validation-valid-label" for="dni">Perfecto! </label>
												
											</div>
										</div>
										
									<div class="form-group" ng-class="{ 'has-error' : formAltaUsuario.cuil.$invalid && !formAltaUsuario.cuil.$pristine }">
										<div class="form-group">
											<label class="control-label">CUIL (sólo números): <span class="text-danger">*</span></label>
											<div class="">
												<input type="number" class="form-control" ng-model="usuario.cuil"  ng-model="usuario.cuil" min="1" max="99999999999"  name="cuil" required>
												
												<label id="basic-error" ng-show="formAltaUsuario.cuil.$invalid && !formAltaUsuario.cuil.$pristine" class="validation-error-label" for="cuil">Éste campo es obligatorio</label>
												<label id="basic-error" ng-show="formAltaUsuario.cuil.$valid && !formAltaUsuario.cuil.$pristine" class="validation-error-label validation-valid-label" for="cuil">Perfecto! </label>
											</div>
										</div>	
									</div>	
										
										
										<div class="form-group">
												<label class="col-lg-3 control-label">Domicilio:</label>
												<div class="col-lg-9">
													<div class="row">
														<div class="col-md-3">
													<input type="text" placeholder="Provincia" ng-model="usuario.province" class="form-control mb-15">		
													<input type="text" placeholder="Calle" ng-model="usuario.street" class="form-control mb-15">
														</div>
														
														<div class="col-md-3">
															<input type="text" placeholder="Localidad" ng-model="usuario.locality" class="form-control mb-15">
															
															<input type="number" placeholder="Numero" ng-model="usuario.number" class="form-control mb-15">
														</div>
													</div>
												</div>
											</div>
													
										<div class="text-center">
											<button type="submit" ng-disabled="formAltaUsuario.$invalid" class="btn btn-primary">Confirmar <i class="icon-arrow-right14 position-right"></i></button>
											<button ui-sref="main.usuarios"  class="btn bg-slate-400">Cancelar <i class="icon-cross2 position-right"></i></button>
										</div>
									</div>
								</div>
							</div>
								
							</form>
			